<div class="title-container">
  <div class="title">
    <h1>Flickr Photo Viewer</h1>
    <h3>Enter a flickr.com user-id to view that persons photos</h3>
    <h3>or enter a comma separated list of tags to search by tags</h3>
  </div>
</div>

<div class="container">
  <%= render partial: "form" %>

  <% if @photos %>
    <%= render partial: "photos", photos: @photos %>
  <% end %>
</div>
